<section id="banner">
  <div class="inner">
    <h2>
      <div><img src="images/PHOTO_DEVOLUTIONS(smol).jpg" /></div>
      </br>
      <div>{{ .Site.Params.fancytitle | safeHTML }}</div>
    </h2>
    <p>
    <div>{{ .Site.Params.description | safeHTML }}</div>
    </br>
    <img src="images/Logo_ETS_TypoBlanche_D_FR.png" />
    </p>
    {{ if and .Site.Params.startbuttonText .Site.Params.startbuttonLink }}
    <ul class="actions special">
      <li>
        <a href="{{ .Site.Params.CvButtonLink }}" class="button partial" download>{{ .Site.Params.CvButtonText }}</a>
      </li>
      <li>
        <a href="{{ .Site.Params.StartbuttonLink }}" class="button primary scrolly">{{ .Site.Params.StartbuttonText
          }}</a>
      </li>
    </ul>
    {{ end }}
    <a href="#two" class="more scrolly">{{ i18n "learnmore" }}</a>
  </div>
</section>